{
  "presets": [
    ["@babel/preset-typescript", {
      "jsxPragma": "React.createElement",
      "isTSX": true,
      "allExtensions": true
    }]
  ],
  "plugins": [[
    "@babel/plugin-transform-react-jsx", {
      "pragma": "React.createElement"
    }
  ]]
}