{
  "presets": [
    // ["@babel/preset-typescript", {
    //   "jsxPragma": "ToyReact.createElement",
    //   "isTSX": true,
    //   "allExtensions": true
    // }]
    "@babel/preset-env"
  ],
  "plugins": [[
    "@babel/plugin-transform-react-jsx", {
      "pragma": "ToyReact.createElement"
    }
  ]]
}